body{
    font-family: sans-serif;
    margin: 2em;
    color: #0e1c4b;
}

.container{
    max-width: 800px;
    margin: auto;
    padding: 2em;
}

input, textarea{
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
}

button{
    background-color: #4d4848;
    color: rgb(255, 253, 253);
    padding: 0.7em;
    border: none;
    cursor: pointer;
    border-radius: 14px;
}
/*Ajustes*/

body {
    font-family: sans-serif;
    margin: 2em;
    background-color: rgb(232, 230, 230);
}

.container {
    background-color: white;
    max-width: 800px;
    margin: auto;
    padding: 2em;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

input,
textarea {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    font-family: sans-serif;
    border-radius: 10px;
    border-color: rgba(0, 0, 0, 0.372);
}

button {
    background-color: #257ea1;
    color: #ffffff;
    padding: 5px;
    border: none;
    cursor: pointer;
    width: 20%;
    height: 40px;
    border-radius: 10px;
}
.botao_saida{
    background-color: #257ea1;
    color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    width: 95px; 
    height: 30px; /* Alinha a altura com o input */
    padding: 0 8px; /* Reduz o padding para diminuir o tamanho */
    margin-left: 0; /* Remove a margem grande que estava empurrando o botão */
    line-height: 20px; /* Ajuda no alinhamento vertical do texto */

}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1em;
}
th, td {
    border: 1px solid #ccc; 
    padding: 10px; 
    text-align: left; 
}

thead th {
    background-color: #f0f0f0; 
    font-weight: bold;
    color: #333;
}

tbody tr:nth-child(even) {
    background-color: #fafafa;
}